@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 400;
  color: #322214;
}

body {
  background-color: #93A3B1;
  margin: 0;
}

h1 {
  font-weight: normal;
}

.make--hidden {
  display: none;
}

.make--visible {
  display: block;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: calc(-webkit-fill-available - 120px);
  height: 100vh;
  width: 100%;
}
.main__slider {
  margin-top: 10px;
  width: 100%;
  height: calc(100% - 120px);
  z-index: 2;
}

.nav__container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  height: 110px;
  padding: 25px 50px 15px;
  width: 100%;
}
@media screen and (min-width: 370px) {
  .nav__container {
    max-width: 450px;
  }
}
@media screen and (min-width: 576px) {
  .nav__container {
    max-width: 650px;
  }
}
@media screen and (min-width: 992px) {
  .nav__container {
    flex-direction: row;
    max-width: 1080px;
    padding: 25px 40px 0;
  }
}

.links__container {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .links__container {
    flex: 40% 0 0;
    margin: auto 0 auto auto;
  }
}

.img__container {
  display: flex;
  justify-content: center;
  background-color: #7C898B;
  padding: 40px;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.img__container.slid {
  height: calc(100% - 120px);
  margin-top: 120px;
  transition: 0.4s;
}
.img__clipping {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.colls__container {
  position: absolute;
  top: 120px;
  left: 0;
  background-color: #7C898B;
  padding: 40px;
  width: 100%;
  height: calc(100% - 120px);
  z-index: 1;
}
.colls__content {
  position: relative;
  background-color: black;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
.colls__modal, .colls__overlay {
  position: absolute;
  left: 0;
  width: 100%;
}
.colls__modal {
  top: 20%;
  padding: 10px;
  z-index: 4;
}
@media screen and (min-width: 370px) {
  .colls__modal {
    top: 10%;
  }
}
@media screen and (orientation: landscape) {
  .colls__modal {
    left: 20%;
    top: 0;
    height: 100%;
    width: auto;
  }
}
.colls__overlay {
  display: none;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.save__slider {
  display: none;
  height: 120px;
  width: 100%;
  position: absolute;
  top: 120px;
}
.save__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 15px 20px 10px;
  background-color: #636564;
}
@media screen and (min-width: 370px) {
  .save__container {
    padding: 15px 40px 10px;
  }
}

.empty__slider {
  display: none;
  height: 120px;
  width: 100%;
  position: absolute;
  top: 120px;
}

.gallery__container {
  cursor: pointer;
}
.gallery__container:hover {
  color: #758a9c;
}

#main-image {
  height: 100%;
  display: none;
}
#main-image.narrow {
  height: unset;
  width: 100%;
}

#modal__image {
  display: none;
  width: 100%;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  #modal__image {
    padding: 50px;
  }
}
@media screen and (orientation: landscape) {
  #modal__image {
    width: unset;
    height: 100%;
    padding: 0;
  }
}
@media screen and (orientation: landscape) and (min-height: 768px) {
  #modal__image {
    padding: 50px;
  }
}

.gallery__thumb {
  width: 150px;
  margin: 10px;
  cursor: pointer;
}

.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
@media screen and (min-width: 992px) {
  .nav__item {
    justify-content: flex-start;
  }
}

.link--like {
  margin-right: auto;
}
.link--view {
  margin-left: auto;
}

input {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: #4c443c;
}

.nav__link {
  font-size: 2.5rem;
  line-height: 2rem;
}
.nav__logo {
  flex: 100% 0 0;
}
@media screen and (min-width: 992px) {
  .nav__logo {
    flex: 20% 0 0;
  }
}
.nav__logo::before {
  content: "";
  font-family: IcoMoon;
  margin-right: 10px;
  font-size: 2rem;
}
.nav__logo .nav__link {
  font-size: 3.5rem;
  color: #636564;
}

.links__text {
  font-size: 1rem;
  text-transform: uppercase;
}
.links__text:hover {
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  .links__text {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 992px) {
  .links__text {
    margin-top: 20px;
  }
}

@media screen and (min-width: 370px) {
  .link--like span::before {
    content: "i ";
  }
  .link--like span::after {
    content: " this";
  }
  .link--view span::after {
    content: " collections";
  }
  .link--refresh span::before {
    content: "show ";
  }
  .link--refresh span::after {
    content: " image";
  }
}

.view--text::before {
  content: "view";
}

.hide--text::before {
  content: "hide";
}

.hover-line {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.hover-line::before {
  content: "";
  height: 1px;
  width: 100%;
  background: currentColor;
  position: absolute;
  top: 92%;
  right: 0;
  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: 0% 50%;
}
.hover-line:hover::before {
  transform: scaleX(1);
  transform-origin: 100% 50%;
}

.save__button,
.cancel__button {
  font-weight: 400;
  text-transform: uppercase;
  color: #bfbfbf;
  font-size: 1.1rem;
}

.save__text {
  text-transform: uppercase;
  color: #cccccc;
}
@media screen and (min-width: 576px) {
  .save__text {
    font-size: 1.3rem;
  }
}
.save__text span::after {
  content: "image";
}
@media screen and (min-width: 370px) {
  .save__text span::after {
    content: "to your collection";
  }
}

.content__title {
  font-size: 1.1rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .content__title {
    font-size: 1.6rem;
  }
}

.gallery__title {
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    font-size: 1.5rem;
  }
}

.save__form {
  margin: 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.save__button {
  margin-top: 10px;
}

.input__container {
  display: flex;
  width: 80%;
  max-width: 250px;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 3px;
}
.input__validation.valid::after {
  content: "";
  position: relative;
  top: 2px;
  font-family: IcoMoon;
  font-size: 1rem;
  color: green;
  z-index: 2;
}
.input__validation.invalid::after {
  content: "";
  position: relative;
  top: 2px;
  font-family: IcoMoon;
  font-size: 1rem;
  color: red;
  z-index: 2;
}

#email__input {
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 3px;
}
#email__input:focus {
  outline: none;
}

.save__button,
.cancel__button {
  padding: 5px 20px;
  height: 60%;
  border-left: 1px solid #93A3B1;
  border-right: 1px solid #93A3B1;
  border-radius: 5px;
}
.save__button:hover,
.cancel__button:hover {
  cursor: pointer;
}

.gallery__thumbnails {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.6);
}

.gallery__visible {
  display: flex !important;
}

/*# sourceMappingURL=styles.css.map */
