// base styles

@use "variables" as *;

* {
    box-sizing: border-box;
}

html {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
    color: $color-text;
}

body {
    background-color: $color-primary;
    margin: 0;
}

h1 {
    font-weight: normal;
}

.make--hidden {
    display: none;
}

.make--visible {
    display: block;
}