// images //

#main-image {
    height: 100%;
    display: none;

    &.narrow {
        height: unset;
        width: 100%;
    }
}

#modal__image {
    display: none;
    width: 100%;
    cursor: pointer;
}

.gallery__thumb {
    width: 150px;
    margin: 10px;
    cursor: pointer;
}