// images //

#main-image {
    height: 100%;
    display: none;
}

#modal__image {
    display: none;
    width: 100%;
    cursor: pointer;
}

.gallery__thumb {
    width: 100px;
    margin: 10px;
    cursor: pointer;
}