// images //

@use 'utilities' as *;

#main-image {
    height: 100%;
    display: none;

    &.narrow {
        height: unset;
        width: 100%;
    }
}

#modal__image {
    display: none;
    width: 100%;
    cursor: pointer;

    @include mqm {
        padding: 50px;
    }

    @include mqland {
        width: unset;
        height: 100%;
        padding: 0;
    }

    @include mqlandm {
        padding: 50px;
    }
}

.gallery__thumb {
    width: 150px;
    margin: 10px;
    cursor: pointer;
}