// typography

@use "utilities"as *;

input {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: $color-contrast;
}

.nav {
    &__link {
        font-size: 2.5rem;
        line-height: 2rem;
    }

    &__logo {
        flex: 100% 0 0;

        @include mql {
            flex: 20% 0 0;
        }

        &::before {
            content: '\e905';
            font-family: IcoMoon;
            margin-right: 10px;
            font-size: 2rem;
        }

        & .nav__link {
            font-size: 3.5rem;
            color: $color-tertiary;
        }
    }

}

.links {
    &__text {
        font-size: 1rem;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
        }

        @include mqs {
            font-size: 1.3rem;
        }

        @include mql {
            margin-top: 20px;
        }
    }

    
}

.link {
    @include mqxs {
        &--like span {
            &::before {
                content: 'i ';
            }

            &::after {
                content: ' this';
            }
        }

        &--view span {
            &::after {
                content: ' collections';
            }
        }

        &--refresh span {
            &::before {
                content: 'show ';
            }

            &::after {
                content: ' image';
            }
        }
    }


}

.view--text::before {
    content: 'view';
}

.hide--text::before {
    content: 'hide';
}

.hover-line {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: inline-block;

    &::before {
        content: '';
        height: 1px;
        width: 100%;
        background: currentColor;
        position: absolute;
        top: 92%;
        right: 0;
        transition: transform 0.3s;
        transform: scaleX(0);
        transform-origin: 0% 50%;
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: 100% 50%;
    }
}

.save__button,
.cancel__button {
    font-weight: 400;
    text-transform: uppercase;
    color: darken(#fff, 25%);
    font-size: 1.1rem;
}

.save {

    &__text {
        text-transform: uppercase;
        color: darken(#fff, 20%);

        @include mqs {
            font-size: 1.3rem;
        }

        & span {
            &::after {
                content: 'enter your email to save this image';

                @include mqxs {
                    content: 'enter your email to save this to your collection'
                }
            }
        }

        &.invalid {
            & span {
                &::after {
                    content: 'email is not valid';
                    color: red;
                }
            }
        }

        &.valid {
            & span {
                &::after {
                    content: 'valid email - click save';
                }
            }
        }
    }

    
}

.content__title {
    font-size: 1.1rem;
    text-align: center;

    @include mqm {
        font-size: 1.6rem;
    }
}

.gallery__title {
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 0;

    @include mqm {
        font-size: 1.5rem;
    }
}